<div class="container">
    <div class="row">
        <div class="col-sm-4" style="height: 50px; background: red;"></div>
        <div class="col-sm-4" style="height: 50px; background: red;"></div>
        <div class="col-sm-4" style="height: 50px; background: red;"></div>
    </div>
</div>